.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 868px;
  width: 100%;

  @media (min-width: 576px) {
    justify-content: space-between;
  }
}
